.navbar {
  background-color: #A6B1E1;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.nav-link {
  color: #112D4E;
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
  gap: 70px;
  padding-right: 20px;
}

.nav-link:hover {
  text-decoration: underline;
}
